@import "colors";

// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color:     @asteroid;
@syntax-text-highlight: @dust;
@syntax-text-selected:  @galaxy;
@syntax-text-subtle:    @interstellar;
@syntax-text-alt:       @deepspace;
@syntax-text-reverse:   @void;

@syntax-color-info:     @quasar;
@syntax-color-success:  @comet;
@syntax-color-warning:  @protostar;
@syntax-color-error:    @nebula;
@syntax-color-fatal:    @magnetar;
@syntax-color-unit:     @star;
@syntax-color-keyword:  @pulsar;

@syntax-cursor-color:     @dust;
@syntax-selection-color:  @deepspace;
@syntax-border-subtle:    @deepspace;
@syntax-border-highlight: @dust;

@syntax-background-color:     @void;
@syntax-background-highlight: @deepspace;
@syntax-background-reverse:   @dust;
@syntax-background-info:      @quasar;
@syntax-background-success:   @comet;
@syntax-background-warning:   @protostar;
@syntax-background-error:     @nebula;
@syntax-background-fatal:     @magnetar;

// Guide colors
@syntax-wrap-guide-color:           @void;
@syntax-indent-guide-color:         @deepspace;
@syntax-invisible-character-color:  @interstellar;

// For find and replace markers
@syntax-result-marker-color:          @dust;
@syntax-result-marker-color-selected: @galaxy;

// Gutter colors
@syntax-gutter-text-color:                @asteroid;
@syntax-gutter-text-color-selected:       @dust;
@syntax-gutter-background-color:          @void;
@syntax-gutter-background-color-selected: @deepspace;

// For git diff info. i.e. in the gutter
@syntax-color-renamed:    @quasar;
@syntax-color-added:      @comet;
@syntax-color-modified:   @protostar;
@syntax-color-removed:    @nebula;
